/***************** 
      Colors
*****************/
$color-background: #fff4d5;
$color-accent: #e17055;
$color-text: #2c3a47;

/***************** 
      Fonts
*****************/
$font-primary: Arial, "Open Sans";
